<% content_for :title, "Bienvenido a la Graduation Party" %>
<div class="center-align">
  <h1>Bienvenido a la Graduation Party</h1>
  <h3>¿Quieres asistir?</h3>
  <p>Sólo para «Multimedianos» graduados o de quinto. Ya somos <strong><%=@students_count%></strong> que vamos</p>
</div>
<div class="container">
  <%= render 'form' %>
</div>