<% content_for :title, "¡Oído cocina! A la Graduation Party que te vas" %>
<h1>¡Lo hemos entendido!</h1>
<p>Estamos muy contentos de que vengas</p>

<%= button_to 'Volver', root_path,  :method => "get" %>
