<% content_for :title, "Términos y condiciones" %>
<div class="container center-align">
  <h3>Términos y condiciones</h3>
  <div class="row">
    <h5>Porque somos gente seria y hacemos las cosas bien</h5>
  </div>
</div>
<ul class="container" id="terms-list">
  <li class="row">Después de que el evento termine, la base de datos que contiene sus datos será borrada y ordenará su
    baja.
  </li>
  <li class="row">Se podría usar su email para enviarle alguna o varias newsletter antes del evento, pero sólo
    contendrá información estrictamente relevante y relacionada al evento.
    Es posible que no sea necesario enviar ninguna newsletter, pero por si acaso se consta en los términos y
    condiciones.
  </li>

</ul>


<div class="center-align down">
  <%= button_to 'Volver', root_path, :method => "get", class: "btn-large waves-effect waves-light purple" %>
</div>



